<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  	<h1> Welcome to the Nested Forms Lab! </h1>
  	<h3> let's navigate to the '/new' </h3>
  </body>
</html>
  	